@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: gray;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  font-family: Montserrat;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.375rem;
}

h2 {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.45rem;
  letter-spacing: -0.09rem;
}

h3 {
  font-family: Montserrat;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.0125rem;
  letter-spacing: -0.0875rem;
}

.grid-masonry {
  max-height: 40rem;
}

.grid-item-masonry {
  width: 30%;
  margin: 1%;
}
.grid-item-masonry img {
  width: 100%;
}

@layer components {
  .btn {
    @apply px-5 py-3 rounded-full w-max;
  }
}

@keyframes scaleBtn {
  from {
    scale: 1;
    filter: brightness(1);
  }
  to {
    scale: 1.05;
    filter: brightness(1.1);
  }
}

@keyframes lightAnchor {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(1.15);
  }
}

.btn:hover {
  animation: scaleBtn 0.2s linear forwards;
}

a:hover {
  animation: lightAnchor 0.2s linear forwards;
}

@media (max-width: 650px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
